#main
{
	text-align: center;
	font-weight: bold;
}

#outputTable
{
  margin:auto;
  font-size:20px;
  border-collapse: collapse;
}

.tableField
{
  width: 50px;
}

#notFound
{
  color: red;
}

#settings
{
  display: none;
}